/* stylelint-disable prettier/prettier */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
  background-color: aquamarine;
}

.imformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
  background-color: burlywood;
}