@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background: linear-gradient(45deg, #1bfd9c, #000, #09ffff);
  background-size: 400% 400%;
  animation: bggradient 15s ease infinite;
}

@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 0% 50%;
  }

  75% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container::before {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: '';
  background: rgb(255 255 255 / 10%);
  filter: blur(20px);
  animation: pulse 20s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.8;
  }
}

.board {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
}

.imformation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 900px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 100px;
  color: #ff0;
  border: 3px solid #0000cd;
}

.cell:hover {
  border: #ffd700 3px solid;
}
